@import './abstract';
@import './knacss/knacss';

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacer-small;
}


button {
  background-color: $gray-500;
}

.json {
  @include font-size(small);
}