@import './abstract';
@import './knacss/knacss';

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacer-small;
}

.userInput-container {
  padding: $spacer-medium;
  //border: 3px solid $gray-200;
  background-color: $gray-200;
}

button {
  background-color: $gray-500;
}